<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.myaccessbility">
    <!--注册以下权限-->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <permission android:protectionLevel="normal" android:name="oem.permission.SENDMAIL"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--声明该service-->
        <!--android:canRetrieveWindowContent="true"功能是获取窗口内容，但是初始化受限于xml-->
        <!--剩余的东西必须要一致，漏了就会没反应-->
        <service android:name=".AcbService"
            android:label="acbservice"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:canRetrieveWindowContent="true">
            <intent-filter>
                <!--启动类型-->
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <!--xml配置的方式，若代码中配置，会被覆盖-->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>
        <service android:name=".AirButtonService" />
    </application>

</manifest>